:root {
  --main-bg-color: #121212;
  --main-color-text: #e0e0e0;
  --color-less-main: #b0acac;
  --logout-color: #ff5c88;
  --logout-color-hover: rgba(241, 163, 182, 0.8);
  --border-row: #e5e7eb;
  --border-row-hover: #343a40;
  --dropdown-menu-user-bg-color: #242424;
  --dropdown-menu-user-color-hover: #3a3b3c;
  --loading-row-1: #2a2a2a;
  --loading-row-2: #333333;
  --loading-row-3: #2a2a2a;
  --add-db-button-bg: #007bff;
  --add-db-button-bg-hover: #0056b3;
  --add-db-button-color: white;
  --add-db-button-color-hover: white;
  --box-shadow-menu-user: 5px 5px 2px 0 rgba(0, 0, 0, 0.2);
  --border-input: #555;
  --bg-item-drodown-user-focus-hover: #3a3b3c;

  --area-bg: #121212;
  --area-bg-linear-1: #444444;
  --area-bg-linear-2: #121212;
  --circule-li-bg: rgba(255, 255, 255, 0.2);
  --card-hr: white;

  --card-bg: transparent;
  --bg-modal: #313131;
}

body {
  color: var(--main-color-text);
  /* 'dark' is not a valid color value. You might want to specify a valid color such as 'darkgray'. */
  background-color: var(--main-bg-color);
  /* Corrected the typo from '--main-bg-colo' to '--main-bg-color'. */
}

/* /////////////////////////////:header /////////////////////////////////////// */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 0 0;
  /* Ajustez selon vos besoins */
}

.logo {
  width: 150px;
  cursor: pointer;
}

.logo img {
  width: 100%;
  filter: brightness(10);
}

/* ///////////////////////////// home-page /////////////////////////////////////// */
.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  padding: 0 200px;
  gap: 20px;
}

@media (max-width: 1000px) {
  .home-page {
    padding: 0 100px;
  }

  h2 {
    font-size: large;
  }
}

@media (max-width: 550px) {
  .home-page {
    padding: 0 20px;
  }
}

@media (max-width: 800px) {
  .home-page-search {
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
}

.home-page-search {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.home-page-bdd-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.add-db-button {
  padding: 10px 20px;
  font-size: 16px;
  color: var(--add-db-button-color);
  background-color: var(--add-db-button-bg);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-db-button:hover {
  background-color: var(--add-db-button-bg-hover);
}

/* Responsive */
@media (max-width: 768px) {
  .home-page {
    padding: 0 50px;
    /* Ajustement du padding pour les écrans plus petits */
  }

  /* Ajoutez ici d'autres styles responsive si nécessaire */
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* margin-bottom: 10px; */
  height: 60px;
  border-bottom: 0.5px solid var(--border-row)
}

/* .row:hover {
  background-color: var(--border-row);
} */

.cell {
  height: 20px;
  background: var(--loading-row-1);
  flex-grow: 1;
  margin-right: 10px;
}

.cell:last-child {
  margin-right: 0;
}

.cell:last-child {
  margin-right: 0;
}

/* Animation */
@keyframes loading {
  0% {
    background-color: var(--loading-row-1);
  }

  50% {
    background-color: var(--loading-row-2);
  }

  100% {
    background-color: var(--loading-row-3);
  }
}

.cell {
  animation: loading 1.5s infinite;
}


.table-placeholder {
  border-radius: 4px;
  width: 100%;
  /* Ajustez à la largeur désirée */
}

.table-placeholder .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: 0.5px solid var(--border-row);
  font-size: medium
}

.inputSearch {
  /* width: 100%; */
  min-width: 300px;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid var(--border-input);
  font-size: 1rem;
  outline: none;
}



.table-all-bdd {
  border-radius: 4px;
  width: 100%;
  /* Ajustez à la largeur désirée */
}

.table-all-bdd-celluleRow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.table-all-bdd-status {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.table-all-bdd-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: 0.5px solid var(--border-row);
  font-size: medium
}

.table-all-bdd-rows:hover {
  background-color: var(--border-row-hover);
  cursor: pointer;
}




/* dropdownUser */
.user-menu {
  position: relative;
  margin-left: 12px;
}

.logout {
  background-color: transparent;
  color: var(--logout-color) !important;
  cursor: pointer;
}

.logout:hover {
  background-color: var(--logout-color-hover) !important;
}

.menu-button {
  display: flex;
  align-items: center;
  position: relative;
  max-width: max-content;
  padding: 0;
  background-color: transparent;
  /* gray-800 */
  border-radius: 9999px;
  /* rounded-full */
  font-size: 0.875rem;
  /* text-sm */
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.menu-button:focus {
  outline: none;
  /* Simulate ring-offset-color and ring with box-shadow */
}


.user-avatar {
  height: 4rem;
  /* h-8 */
  width: 4rem;
  /* w-8 */
  border-radius: 9999px;
  background-color: transparent;
  /* rounded-full */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.dropdown-menu-user {
  /* Hide dropdown by default, show/hide with JS */
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 8px;
  background-color: var(--dropdown-menu-user-bg-color);
  /* bg-gray-100 */
  border-radius: 0.375rem;
  box-shadow: var(--box-shadow-menu-user);
  z-index: 10;
  width: 100px;
  overflow: hidden;
}

.dropdown-item {
  display: flex;
  align-items: center;
  /* Assure le centrage vertical des éléments enfants */
  justify-content: center;
  top: 15px;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  height: 40px;
  /* text-sm */
  color: var(--main-color-text);
  /* text-gray-700 */
  text-decoration: none;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--dropdown-menu-user-color-hover);
  ;
  /* bg-gray-100 */
}



/* //////////////////////////////Login//////////////////////////////// */
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.context {
  width: 100%;
  position: absolute;
  top: 50vh;

}

.area {
  position: relative;
  background: var(--area-bg);
  background: linear-gradient(to left, var(--area-bg-linear-1), var(--area-bg-linear-2));
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
}

.circles {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: var(--circule-li-bg);
  animation: animate 25s linear infinite;
  bottom: -150px;

}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }

}



.buttonLogin {
  width: 100%;
  padding: 1rem;
  background-color: var(--add-db-button-bg);
  border: none;
  border-radius: 5px;
  color: var(--add-db-button-color);
  cursor: pointer;
}

.buttonLogin:hover {
  background-color: var(--add-db-button-bg-hover);
}

.goRegister {
  color: var(--add-db-button-bg);
}

.input-container {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.custom-input {
  width: 92%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.875rem;
  line-height: 1.5;
  color: var(--main-color-text);
  background-color: transparent;
  border-radius: 0.375rem;
  box-shadow: inset 0 0 0 1px var(--main-color-text);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.custom-input:focus {
  border-color: var(--add-db-button-bg);
}


/* /////////////////Register///////////////// */


.register-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}



.form-container {

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 900px) {
  .form-container {
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px;
    /* min-height: 100vh; */
    /* Change la direction de row à column pour les petits écrans */
  }
}

.register,
.registerInfo {
  background-color: var(--card-bg);
  height: 400px;
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px dashed;
  border-color: var(--main-color-text);
}


.login-container {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 410px;
  background: var(--card-bg);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


@media (max-width: 900px) {
  .login-container {
    max-width: 320px;
    /* min-height: 100vh; */
    /* Change la direction de row à column pour les petits écrans */
  }
}

@media (max-width: 380px) {
  .login-container {
    max-width: 300px;
    /* min-height: 100vh; */
    /* Change la direction de row à column pour les petits écrans */
  }
}

h2 {
  color: var(--main-color-text);
  text-align: center;
}

.input-container {
  margin-bottom: 1rem;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.btnRegister {
  width: 100%;
  padding: 1rem;
  background-color: var(--add-db-button-bg);
  border: none;
  border-radius: 5px;
  color: var(--main-color-text);
  cursor: pointer;
}

.btnRegister:hover {
  background-color: var(--add-db-button-bg);

}

.goRegister {
  color: var(--add-db-button-bg);
}

.cardRegister-container {
  width: 100%;
  max-width: 400px;
  height: 410px;
  background: var(--card-bg);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


@media (max-width: 900px) {
  .cardRegister-container {
    max-width: 320px;
    height: 100%;
    max-height: 1000px;
    ;
    /* min-height: 100vh; */
    /* Change la direction de row à column pour les petits écrans */
  }
}

@media (max-width: 380px) {
  .cardRegister-container {
    max-width: 300px;
    max-height: 1000px;
    /* min-height: 100vh; */
    /* Change la direction de row à column pour les petits écrans */
  }
}

.cardTitle {
  color: var(--main-color-text);
  text-align: center;
}


/* //////////////////////create db//////////////////// */

.createBdd-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  padding: 0 200px;
  gap: 20px;
}

.btnCreate {
  background-color: var(--add-db-button-bg);
  color: var(--main-color-text);
  border: none;
  padding: 15px 15px;
  cursor: pointer;
  border-radius: 5px;
  width: 200px
}

.btnCreate:hover {
  background-color: var(--add-db-button-bg-hover);
}

.dropdown {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.createBdd-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1000px) {
  .createBdd-page {
    padding: 0 100px;
  }

  h2 {
    font-size: large;
  }
}

@media (max-width: 550px) {
  .createBdd-page {
    padding: 0 20px;
  }
}


.cardsSlect-group {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.cardscCheck {
  position: absolute;
  top: 15px;
  right: 30px;
  color: var(--add-db-button-bg);
}

.cardsText {
  width: 100%;
  display: flex;
  align-items: center;
}

.cardsSelectLabel {
  color: var(--main-color-text);
  display: flex;
}

.cardsSelectDescription {
  color: var(--color-less-main);
}

.cardsSelectStorage {
  color: var(--main-color-text);
  ;
  margin-top: 15px;
}

.cardsSlect {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 268px;
  width: 100%;
  border: 2px solid;
  border-color: var(--add-db-button-bg);
  height: 80px;
  border-radius: 0.5rem;
  padding: 15px;
  cursor: pointer;
}

.cardsNoSlect {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 268px;
  width: 100%;
  border: 1px solid;
  border-color: var(--border-row);
  height: 80px;
  border-radius: 0.5rem;
  padding: 15px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .cardsSlect-group {
    gap: 20px;
  }

}


.dropdown-container {
  position: relative;
  width: 200px;
}

.dropdown-button {
  width: 100%;
  text-align: left;
  padding: 10px;
  background-color: var(--dropdown-menu-user-bg-color);
  border: 1px solid var(--border-row);
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  font-size: 15px;
  color: var(--main-color-text);
}

.dropdown-arrow {
  float: right;
}

.dropdown-menu {
  top: 50px;
  position: absolute;
  width: 100%;
  background-color: var(--dropdown-menu-user-bg-color);
  border: 1px solid var(--border-row);
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu ul li {
  padding: 10px;
  border-bottom: 1px solid var(--dropdown-menu-user-bg-colo);
}

.dropdown-menu ul li:last-child {
  border-bottom: none;
}

.dropdown-menu ul li {
  text-decoration: none;
  color: var(--main-color-text);
  display: flex;
  align-items: center;
  font-size: 15px;
}

.dropdown-menu ul li.selected {
  background-color: var(--dropdown-menu-user-bg-colo);
  color: var(--main-color-text);
  ;
}

.dropdown-menu ul li.selected a {
  color: var(--main-color-text);
  ;
}

.dropdown-menu ul li:hover {
  background-color: var(--bg-item-drodown-user-focus-hover);
  ;
  color: var(--main-color-text);
  ;
  cursor: pointer;
}

.option-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

/* /////////////////// bddId /////////////////////// */

.IdBddPage-page {
  display: flex;
  flex-direction: column;
  padding: 0 200px 20px;
  gap: 50px;
}

.menuChoice {
  cursor: pointer;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 5px 10px 5px 5px;
  border-radius: 5px;
}

.menuChoice:hover {
  background-color: var(--bg-item-drodown-user-focus-hover);
}

@media screen and (max-width: 800px) {
  .IdBddPage-page {
    padding: 0 20px 20px;
  }
}

.content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

@media (max-width: 500px) {
  .content {
    flex-direction: column;
    gap: 20px;
    padding: 10px 10px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 85%;
}

.menu {
  position: sticky;
  display: flex;
  flex-direction: column;
  height: 100%;
  top: 30px;
  gap: 20px;
  width: 15%;
}


@media (max-width: 850px) {
  .content {
    flex-direction: column;
    gap: 20px;
    padding: 10px 10px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .menu {
    position: static;
    flex-direction: row;
    width: 100%;
    font-size: large;
  }
}

.cardType {
  padding: 15px 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardType hr {
  width: 100%;
  border: var(--card-hr) 1px solid;

}
.cardType h2 {
  color: var(--card-hr);
  text-align: center;
  float: left;
}

.cardType-container {

  width: 100%;
  /* Utilisez 100% pour la largeur pour s'adapter à la largeur de l'écran */
  /* Optionnel: ajoutez une largeur maximale pour éviter que la carte ne devienne trop large sur les grands écrans */
  background: var(--card-bg);
  border-radius: 10px;
  box-shadow: 0 10px 25px var(--box-shadow-menu-user);
  border: var(--card-hr) 1px solid;
  /* Centre la carte horizontalement */
}

.infoGeneral {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 60px;
  align-items: center
}

@media screen and (max-width: 800px) {
  .infoGeneral {
      flex-direction: column;
  }

  .infoTitleGe {
      width: 100%;
      text-align: center
  }

  .cardType h2 {
      width: 100%;
      text-align: center
  }
}

.infoTitleGe {
  width: 120px;
  color: var(--card-hr);
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 800px) {
  .infoGeneral {
      flex-direction: column;
  }

  .infoTitleGe {
      width: 100%;
      text-align: center
  }

  .cardType h2 {
      width: 100%;
      text-align: center
  }
}

.cardLoading h2 {
  color: var(--card-hr);
  text-align: center;
  float: left;
}

.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-modal);
  /* #313131 */
  margin: auto;
  padding: 20px;
  border: 1px solid var(--card-hr);
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content hr {
  width: 100%;
  border: none;
  height: 1px;
  background: var(--card-hr);
}

.btnConfirmDelete {
  background-color: #ff5c88;
  /* ... (rest of your button styles) */
}

.btnDelete:disabled {
  filter: grayscale(20%);
  cursor: not-allowed;
}

.btnDelete:disabled:hover {
  filter: grayscale(20%);
  cursor: not-allowed;
  background-color: #ff5c88;
}

.btn-container {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 20px;
}

.btnCancel {
  background-color: transparent;
  border: 1px solid #cecece;
  ;
  /* border: none; */
  padding: 15px 15px;
  cursor: pointer;
  border-radius: 5px;
  color: var(--main-color-text);
}

.inputDelete {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.inputDelete:focus {
  border-color: #ff5c88;
}

.infoGeneral>* {
  min-width: 0;
  /* Ceci permet aux enfants de `.infoGeneral` de ne pas déborder */
}



/* ///////////////////deletecard//////////////////// */

.cardDelete {
  padding: 15px 60px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: var(--card-bg);
}

.btnDelete {
  background-color: #ff5c88;
  color: white;
  border: none;
  padding: 15px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.btnDelete:hover {
  background-color: rgb(251, 71, 116)
}

.btnRestart {
  background-color: transparent;
  color: #ff5c88;
  border: none;
  padding: 15px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.btnStart {
  background-color: transparent;
  color: rgb(48, 198, 180);
  border: none;
  padding: 15px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.btnStart:hover {
  background-color: rgba(175, 240, 232, 0.596);
}

.btnRestart:hover {
  background-color: rgba(241, 163, 182, 0.464);
}

.cardDelete-container {

  width: 100%;
  background: var(--card-bg);
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  border: var(--card-hr) 1px solid;
}

.infoGeneralDelete {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 60px;
  align-items: center
}

@media (max-width: 850px) {
  .cardDelete {
      flex-direction: column;
  }
}

.modal {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-modal);
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-content hr {
  width: 100%;
  border: none;
  height: 1px;
  background: #cecece;
}

.btnConfirmDelete {
  background-color: #ff5c88;
  /* ... (rest of your button styles) */
}

.btnDelete:disabled {
  filter: grayscale(20%);
  cursor: not-allowed;
}

.btnDelete:disabled:hover {
  filter: grayscale(20%);
  cursor: not-allowed;
  background-color: #ff5c88;
}

.btn-container {
  display: flex;
  width: 100%;
  justify-content: end;
  gap: 20px;
}

.btnCancel {
  background-color: transparent;
  color: var(--main-color-text);
  border: 1px solid #cecece;
  ;
  /* border: none; */
  padding: 15px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.inputDelete {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.inputDelete:focus {
  border-color: #ff5c88;
}